/* [next]/internal/font/google/geist_a7695b8e.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/8a480f0b521d4e75-s.8e0177b5.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/7178b3e590c64307-s.b97b3418.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/caa3a2e1cccd8315-s.p.853070df.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_a7695b8e-module__Entzca__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}

/* [next]/internal/font/google/geist_mono_354fc78.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/4fa387ec64143e14-s.c1fdd6c2.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/bbc41e54d2fcbd21-s.799d8ef8.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/797e433ab948586e-s.p.dbea232f.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_354fc78-module__zrY5Sa__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}

/* [project]/node_modules/tw-animate-css/dist/tw-animate.css [app-client] (css) */
@property --tw-animation-delay {
  syntax: "*";
  inherits: false;
  initial-value: 0s;
}

@property --tw-animation-direction {
  syntax: "*";
  inherits: false;
  initial-value: normal;
}

@property --tw-animation-duration {
  syntax: "*";
  inherits: false
}

@property --tw-animation-fill-mode {
  syntax: "*";
  inherits: false;
  initial-value: forwards;
}

@property --tw-animation-iteration-count {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-enter-opacity {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-enter-rotate {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-enter-scale {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-enter-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-enter-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-exit-opacity {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-exit-rotate {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-exit-scale {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-exit-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-exit-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@theme inline {
  --animation-delay-0: 0s; --animation-delay-75: 75ms; --animation-delay-100: .1s; --animation-delay-150: .15s; --animation-delay-200: .2s; --animation-delay-300: .3s; --animation-delay-500: .5s; --animation-delay-700: .7s; --animation-delay-1000: 1s; --animation-repeat-0: 0; --animation-repeat-1: 1; --animation-repeat-infinite: infinite; --animation-direction-normal: normal; --animation-direction-reverse: reverse; --animation-direction-alternate: alternate; --animation-direction-alternate-reverse: alternate-reverse; --animation-fill-mode-none: none; --animation-fill-mode-forwards: forwards; --animation-fill-mode-backwards: backwards; --animation-fill-mode-both: both; --percentage-0: 0; --percentage-5: .05; --percentage-10: .1; --percentage-15: .15; --percentage-20: .2; --percentage-25: .25; --percentage-30: .3; --percentage-35: .35; --percentage-40: .4; --percentage-45: .45; --percentage-50: .5; --percentage-55: .55; --percentage-60: .6; --percentage-65: .65; --percentage-70: .7; --percentage-75: .75; --percentage-80: .8; --percentage-85: .85; --percentage-90: .9; --percentage-95: .95; --percentage-100: 1; --percentage-translate-full: 1; --animate-in: enter var(--tw-animation-duration, var(--tw-duration, .15s)) var(--tw-ease, ease) var(--tw-animation-delay, 0s) var(--tw-animation-iteration-count, 1) var(--tw-animation-direction, normal) var(--tw-animation-fill-mode, forwards) ; --animate-out: exit var(--tw-animation-duration, var(--tw-duration, .15s)) var(--tw-ease, ease) var(--tw-animation-delay, 0s) var(--tw-animation-iteration-count, 1) var(--tw-animation-direction, normal) var(--tw-animation-fill-mode, forwards) ; @keyframes enter { from { opacity: var(--tw-enter-opacity, 1) ; transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0)) ; } } @keyframes exit { to { opacity: var(--tw-exit-opacity, 1) ; transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0)) ; } } --animate-accordion-down: accordion-down var(--tw-animation-duration, var(--tw-duration, .2s)) ease-out; --animate-accordion-up: accordion-up var(--tw-animation-duration, var(--tw-duration, .2s)) ease-out; --animate-collapsible-down: collapsible-down var(--tw-animation-duration, var(--tw-duration, .2s)) ease-out; --animate-collapsible-up: collapsible-up var(--tw-animation-duration, var(--tw-duration, .2s)) ease-out; @keyframes accordion-down { from { height: 0; } to { height: var(--radix-accordion-content-height, var(--bits-accordion-content-height, var(--reka-accordion-content-height, var(--kb-accordion-content-height, auto)))) ; } } @keyframes accordion-up { from { height: var(--radix-accordion-content-height, var(--bits-accordion-content-height, var(--reka-accordion-content-height, var(--kb-accordion-content-height, auto)))) ; } to { height: 0; } } @keyframes collapsible-down { from { height: 0; } to { height: var(--radix-collapsible-content-height, var(--bits-collapsible-content-height, var(--reka-collapsible-content-height, var(--kb-collapsible-content-height, auto)))) ; } } @keyframes collapsible-up { from { height: var(--radix-collapsible-content-height, var(--bits-collapsible-content-height, var(--reka-collapsible-content-height, var(--kb-collapsible-content-height, auto)))) ; } to { height: 0; } } --animate-caret-blink: caret-blink 1.25s ease-out infinite; @keyframes caret-blink { 0%, 70%, 100% { opacity: 1; } 20%, 50% { opacity: 0; } }
}

@utility animation-duration- *  {
  --tw-animation-duration: calc(--value(number) * 1ms) ; --tw-animation-duration: --value(--animation-duration- * , [duration], "initial", [ * ]) ; animation-duration: calc(--value(number) * 1ms) ; animation-duration: --value(--animation-duration- * , [duration], "initial", [ * ]) ;
}

@utility delay- *  {
  animation-delay: calc(--value(number) * 1ms) ; animation-delay: --value(--animation-delay- * , [duration], "initial", [ * ]) ; --tw-animation-delay: calc(--value(number) * 1ms) ; --tw-animation-delay: --value(--animation-delay- * , [duration], "initial", [ * ]) ;
}

@utility repeat- *  {
  animation-iteration-count: --value(--animation-repeat- * , number, "initial", [ * ]) ; --tw-animation-iteration-count: --value(--animation-repeat- * , number, "initial", [ * ]) ;
}

@utility direction- *  {
  animation-direction: --value(--animation-direction- * , "initial", [ * ]) ; --tw-animation-direction: --value(--animation-direction- * , "initial", [ * ]) ;
}

@utility fill-mode- *  {
  animation-fill-mode: --value(--animation-fill-mode- * , "initial", [ * ]) ; --tw-animation-fill-mode: --value(--animation-fill-mode- * , "initial", [ * ]) ;
}

@utility running {
  animation-play-state: running;
}

@utility paused {
  animation-play-state: paused;
}

@utility play-state- *  {
  animation-play-state: --value("initial", [ * ]) ;
}

@utility fade-in {
  --tw-enter-opacity: 0;
}

@utility fade-in- *  {
  --tw-enter-opacity: calc(--value(number) / 100) ; --tw-enter-opacity: --value(--percentage- * , [ * ]) ;
}

@utility fade-out {
  --tw-exit-opacity: 0;
}

@utility fade-out- *  {
  --tw-exit-opacity: calc(--value(number) / 100) ; --tw-exit-opacity: --value(--percentage- * , [ * ]) ;
}

@utility zoom-in {
  --tw-enter-scale: 0;
}

@utility zoom-in- *  {
  --tw-enter-scale: calc(--value(number) * 1%) ; --tw-enter-scale: calc(--value(ratio)) ; --tw-enter-scale: --value(--percentage- * , [ * ]) ;
}

@utility -zoom-in- *  {
  --tw-enter-scale: calc(--value(number) * -1%) ; --tw-enter-scale: calc(--value(ratio) * -1) ; --tw-enter-scale: --value(--percentage- * , [ * ]) ;
}

@utility zoom-out {
  --tw-exit-scale: 0;
}

@utility zoom-out- *  {
  --tw-exit-scale: calc(--value(number) * 1%) ; --tw-exit-scale: calc(--value(ratio)) ; --tw-exit-scale: --value(--percentage- * , [ * ]) ;
}

@utility -zoom-out- *  {
  --tw-exit-scale: calc(--value(number) * -1%) ; --tw-exit-scale: calc(--value(ratio) * -1) ; --tw-exit-scale: --value(--percentage- * , [ * ]) ;
}

@utility spin-in {
  --tw-enter-rotate: 30deg;
}

@utility spin-in- *  {
  --tw-enter-rotate: calc(--value(number) * 1deg) ; --tw-enter-rotate: calc(--value(ratio) * 360deg) ; --tw-enter-rotate: --value(--rotate- * , [ * ]) ;
}

@utility -spin-in {
  --tw-enter-rotate: -30deg;
}

@utility -spin-in- *  {
  --tw-enter-rotate: calc(--value(number) * -1deg) ; --tw-enter-rotate: calc(--value(ratio) * -360deg) ; --tw-enter-rotate: --value(--rotate- * , [ * ]) ;
}

@utility spin-out {
  --tw-exit-rotate: 30deg;
}

@utility spin-out- *  {
  --tw-exit-rotate: calc(--value(number) * 1deg) ; --tw-exit-rotate: calc(--value(ratio) * 360deg) ; --tw-exit-rotate: --value(--rotate- * , [ * ]) ;
}

@utility -spin-out {
  --tw-exit-rotate: -30deg;
}

@utility -spin-out- *  {
  --tw-exit-rotate: calc(--value(number) * -1deg) ; --tw-exit-rotate: calc(--value(ratio) * -360deg) ; --tw-exit-rotate: --value(--rotate- * , [ * ]) ;
}

@utility slide-in-from-top {
  --tw-enter-translate-y: -100%;
}

@utility slide-in-from-top- *  {
  --tw-enter-translate-y: calc(--value(integer) * var(--spacing) * -1) ; --tw-enter-translate-y: calc(--value(--percentage- * , --percentage-translate- * ) * -100%) ; --tw-enter-translate-y: calc(--value(ratio) * -100%) ; --tw-enter-translate-y: calc(--value(--translate- * , [percentage], [length]) * -1) ;
}

@utility slide-in-from-bottom {
  --tw-enter-translate-y: 100%;
}

@utility slide-in-from-bottom- *  {
  --tw-enter-translate-y: calc(--value(integer) * var(--spacing)) ; --tw-enter-translate-y: calc(--value(--percentage- * , --percentage-translate- * ) * 100%) ; --tw-enter-translate-y: calc(--value(ratio) * 100%) ; --tw-enter-translate-y: --value(--translate- * , [percentage], [length]) ;
}

@utility slide-in-from-left {
  --tw-enter-translate-x: -100%;
}

@utility slide-in-from-left- *  {
  --tw-enter-translate-x: calc(--value(integer) * var(--spacing) * -1) ; --tw-enter-translate-x: calc(--value(--percentage- * , --percentage-translate- * ) * -100%) ; --tw-enter-translate-x: calc(--value(ratio) * 100%) ; --tw-enter-translate-x: calc(--value(--translate- * , [percentage], [length]) * -1) ;
}

@utility slide-in-from-right {
  --tw-enter-translate-x: 100%;
}

@utility slide-in-from-right- *  {
  --tw-enter-translate-x: calc(--value(integer) * var(--spacing)) ; --tw-enter-translate-x: calc(--value(--percentage- * , --percentage-translate- * ) * 100%) ; --tw-enter-translate-x: calc(--value(ratio) * 100%) ; --tw-enter-translate-x: --value(--translate- * , [percentage], [length]) ;
}

@utility slide-out-to-top {
  --tw-exit-translate-y: -100%;
}

@utility slide-out-to-top- *  {
  --tw-exit-translate-y: calc(--value(integer) * var(--spacing) * -1) ; --tw-exit-translate-y: calc(--value(--percentage- * , --percentage-translate- * ) * -100%) ; --tw-exit-translate-y: calc(--value(ratio) * 100%) ; --tw-exit-translate-y: calc(--value(--translate- * , [percentage], [length]) * -1) ;
}

@utility slide-out-to-bottom {
  --tw-exit-translate-y: 100%;
}

@utility slide-out-to-bottom- *  {
  --tw-exit-translate-y: calc(--value(integer) * var(--spacing)) ; --tw-exit-translate-y: calc(--value(--percentage- * , --percentage-translate- * ) * 100%) ; --tw-exit-translate-y: calc(--value(ratio) * 100%) ; --tw-exit-translate-y: --value(--translate- * , [percentage], [length]) ;
}

@utility slide-out-to-left {
  --tw-exit-translate-x: -100%;
}

@utility slide-out-to-left- *  {
  --tw-exit-translate-x: calc(--value(integer) * var(--spacing) * -1) ; --tw-exit-translate-x: calc(--value(--percentage- * , --percentage-translate- * ) * -100%) ; --tw-exit-translate-x: calc(--value(ratio) * 100%) ; --tw-exit-translate-x: calc(--value(--translate- * , [percentage], [length]) * -1) ;
}

@utility slide-out-to-right {
  --tw-exit-translate-x: 100%;
}

@utility slide-out-to-right- *  {
  --tw-exit-translate-x: calc(--value(integer) * var(--spacing)) ; --tw-exit-translate-x: calc(--value(--percentage- * , --percentage-translate- * ) * 100%) ; --tw-exit-translate-x: calc(--value(ratio) * 100%) ; --tw-exit-translate-x: --value(--translate- * , [percentage], [length]) ;
}

/* [project]/app/globals.css [app-client] (css) */
@custom-variant dark (& :is(. dark * ));

:root {
  --background: #f8f8f8;
  --foreground: #0b0b0b;
  --card: #fff;
  --card-foreground: #0b0b0b;
  --popover: #fff;
  --popover-foreground: #0b0b0b;
  --primary: #2e64ea;
  --primary-foreground: #fff;
  --secondary: #eee;
  --secondary-foreground: #0b0b0b;
  --muted: #eee;
  --muted-foreground: #636363;
  --accent: #796ae5;
  --accent-foreground: #fff;
  --destructive: #e60018;
  --destructive-foreground: #fff;
  --border: #dedede;
  --input: #dedede;
  --ring: #2e64ea;
  --chart-1: #2e64ea;
  --chart-2: #796ae5;
  --chart-3: #0099e0;
  --chart-4: #aa8dde;
  --chart-5: #0065b0;
  --radius: .5rem;
  --sidebar: #fafafa;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
}

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(97.68% -.0000298023 .0000119209);
    --foreground: lab(3.04863% 0 0);
    --card: lab(100% 0 0);
    --card-foreground: lab(3.04863% 0 0);
    --popover: lab(100% 0 0);
    --popover-foreground: lab(3.04863% 0 0);
    --primary: lab(45.3005% 20.7839 -73.9635);
    --primary-foreground: lab(100% 0 0);
    --secondary: lab(94.2% 0 0);
    --secondary-foreground: lab(3.04863% 0 0);
    --muted: lab(94.2% 0 0);
    --muted-foreground: lab(42% 0 0);
    --accent: lab(51.0645% 30.0734 -61.9384);
    --accent-foreground: lab(100% 0 0);
    --destructive: lab(48.8487% 75.8639 57.6396);
    --destructive-foreground: lab(100% 0 0);
    --border: lab(88.4% 0 .0000119209);
    --input: lab(88.4% 0 .0000119209);
    --ring: lab(45.3005% 20.7839 -73.9635);
    --chart-1: lab(45.3005% 20.7839 -73.9635);
    --chart-2: lab(51.0645% 30.0734 -61.9384);
    --chart-3: lab(59.1721% -14.6862 -46.6769);
    --chart-4: lab(63.6026% 23.9208 -37.6794);
    --chart-5: lab(40.5714% 3.69456 -63.1856);
    --sidebar: lab(98.26% 0 0);
    --sidebar-foreground: lab(2.75381% 0 0);
    --sidebar-primary: lab(7.78201% -.0000149012 0);
    --sidebar-primary-foreground: lab(98.26% 0 0);
    --sidebar-accent: lab(96.52% -.0000298023 .0000119209);
    --sidebar-accent-foreground: lab(7.78201% -.0000149012 0);
    --sidebar-border: lab(90.952% 0 -.0000119209);
    --sidebar-ring: lab(66.128% -.0000298023 .0000119209);
  }
}

.dark {
  --background: #0f1216;
  --foreground: #eee;
  --card: #181b1f;
  --card-foreground: #eee;
  --popover: #14161b;
  --popover-foreground: #eee;
  --primary: #3c74fb;
  --primary-foreground: #fff;
  --secondary: #26292e;
  --secondary-foreground: #eee;
  --muted: #26292e;
  --muted-foreground: #8f8f8f;
  --accent: #877af7;
  --accent-foreground: #fff;
  --destructive: #bb0916;
  --destructive-foreground: #fff;
  --border: #26292e;
  --input: #26292e;
  --ring: #3c74fb;
  --chart-1: #3c74fb;
  --chart-2: #877af7;
  --chart-3: #26a9f1;
  --chart-4: #ba9cef;
  --chart-5: #0073cd;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #1447e6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #262626;
  --sidebar-ring: #525252;
}

@supports (color: lab(0% 0 0)) {
  .dark {
    --background: lab(5.23088% -.110164 -3.08687);
    --foreground: lab(94.2% 0 0);
    --card: lab(9.4726% -.177883 -3.71621);
    --card-foreground: lab(94.2% 0 0);
    --popover: lab(7.18142% -.152156 -3.65897);
    --popover-foreground: lab(94.2% 0 0);
    --primary: lab(51.2685% 18.3059 -74.0454);
    --primary-foreground: lab(100% 0 0);
    --secondary: lab(16.4343% -.207871 -3.73001);
    --secondary-foreground: lab(94.2% 0 0);
    --muted: lab(16.4343% -.207871 -3.73001);
    --muted-foreground: lab(59.4% 0 0);
    --accent: lab(56.9569% 28.9751 -62.048);
    --accent-foreground: lab(100% 0 0);
    --destructive: lab(39.9824% 63.1491 46.7224);
    --destructive-foreground: lab(100% 0 0);
    --border: lab(16.4343% -.207871 -3.73001);
    --input: lab(16.4343% -.207871 -3.73001);
    --ring: lab(51.2685% 18.3059 -74.0454);
    --chart-1: lab(51.2685% 18.3059 -74.0454);
    --chart-2: lab(56.9569% 28.9751 -62.048);
    --chart-3: lab(65.0096% -15.512 -46.7948);
    --chart-4: lab(69.4239% 23.702 -37.7507);
    --chart-5: lab(46.5104% 1.14152 -63.299);
    --sidebar: lab(7.78201% -.0000149012 0);
    --sidebar-foreground: lab(98.26% 0 0);
    --sidebar-primary: lab(36.9089% 35.0961 -85.6872);
    --sidebar-primary-foreground: lab(98.26% 0 0);
    --sidebar-accent: lab(15.204% 0 -.00000596046);
    --sidebar-accent-foreground: lab(98.26% 0 0);
    --sidebar-border: lab(15.204% 0 -.00000596046);
    --sidebar-ring: lab(34.924% 0 0);
  }
}

@theme inline {
  --font-sans: "Geist", "Geist Fallback"; --font-mono: "Geist Mono", "Geist Mono Fallback"; --color-background: var(--background) ; --color-foreground: var(--foreground) ; --color-card: var(--card) ; --color-card-foreground: var(--card-foreground) ; --color-popover: var(--popover) ; --color-popover-foreground: var(--popover-foreground) ; --color-primary: var(--primary) ; --color-primary-foreground: var(--primary-foreground) ; --color-secondary: var(--secondary) ; --color-secondary-foreground: var(--secondary-foreground) ; --color-muted: var(--muted) ; --color-muted-foreground: var(--muted-foreground) ; --color-accent: var(--accent) ; --color-accent-foreground: var(--accent-foreground) ; --color-destructive: var(--destructive) ; --color-destructive-foreground: var(--destructive-foreground) ; --color-border: var(--border) ; --color-input: var(--input) ; --color-ring: var(--ring) ; --color-chart-1: var(--chart-1) ; --color-chart-2: var(--chart-2) ; --color-chart-3: var(--chart-3) ; --color-chart-4: var(--chart-4) ; --color-chart-5: var(--chart-5) ; --radius-sm: calc(var(--radius)  - 4px) ; --radius-md: calc(var(--radius)  - 2px) ; --radius-lg: var(--radius) ; --radius-xl: calc(var(--radius)  + 4px) ; --color-sidebar: var(--sidebar) ; --color-sidebar-foreground: var(--sidebar-foreground) ; --color-sidebar-primary: var(--sidebar-primary) ; --color-sidebar-primary-foreground: var(--sidebar-primary-foreground) ; --color-sidebar-accent: var(--sidebar-accent) ; --color-sidebar-accent-foreground: var(--sidebar-accent-foreground) ; --color-sidebar-border: var(--sidebar-border) ; --color-sidebar-ring: var(--sidebar-ring) ;
}

@layer base {
  @apply border-border outline-ring / 50;

  @apply bg-background text-foreground;
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__7403a9dd._.css.map*/